*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.outer {
    /* max-width: 80vw; */
    margin: 0 200px;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pric {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px 0;
}

.content {
    padding: 15px;
    align-items: center;
}

.heading {
    font-weight: bold;
    margin-bottom: 30px;
}

.blue {
    color: blue;
}

.box {
    text-align: center;
}

/* about page css */
.founder {
    height: 50vh;
    background-color: bisque;
    padding: 50px 10px;
}

.left {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    height: 30px;
    width: 110px;
}

/* contact us */
.conc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.frm {
    width: 60%;
}

.form-group {
    padding: 15px;
}

/* team members */
.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
    height: 70vh;
}

.image {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-around;
}

.photo {
    border-radius: 50%;
}

/* event */
.box-event {
    margin: 50px 120px;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-event{
    padding: 20px 30px;
    height: max-content;
}
.text-event{
    padding: 20px 30px;
}

/* .testimonial? */
.test{
    margin: 30px 120px;
    padding: 50px 40px;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px 30px;
}
.testimonial{
    border:2px solid rgb(127, 127, 127);
    width: 40vw;
    padding: 10px;
}
.duo{
    margin: 0 20px;
    display: flex;
    gap: 30px;
}

@media only screen and (max-width: 900px) {
    .outer {
        margin: 0;
    }

    .left {
        width: 100vw;
    }

    .frm {
        width: 100%;
    }

    .last {
        width: 100%;
    }

    .image {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: auto;
    }

    .members {
        margin: 0;
        height: 100%;
    }
    .box-event{
        flex-direction: column;
        margin: 50px;
    }
    .duo{
        flex-direction: column;
    }
    .testimonial{
        width: 80vw;
        height: fit-content;
    }
}
@media only screen and (max-width: 1300px) {
    .test{
        margin: 30px;
    }
    .outer{
        margin: 0 50px;
    }
}